version: '3.8'
services:
  app:
    build: .
    ports:
      - "8081:3000"
    volumes:
      # ホストのdataフォルダをコンテナにマウント（DBが消えないようにする）
      - ./data:/app/data
    env_file:
      - .env
    restart: always